#preloader
  .colorlib-load

= render 'header'

= render 'welcome'

= render 'about'

= render 'features'

= render 'video'

= render 'facts'

= render 'screenshots'

= render 'pricing'

= render 'testimonials'

= render 'membership'

= render 'team'

= render 'contact'

= render 'footer'